@model LoginViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINEARICONS -->
	<link href=" ~/fonts/linearicons/style.css" rel="stylesheet" />

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/css/Login.css">
</head>

<body>
	<div class="wrapper">
		<div class="inner">
			<h1 style="text-align: center; color: black; font-size:65px">Exam System</h1>
			<img src="~/images/image-1.png" alt="" class="image-1">
			<form method="post">
				<h3>Login</h3>

				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input asp-for="Email" class="form-control" placeholder="Mail">
					<span asp-valldation-for="Email"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input asp-for="Password" class="form-control" placeholder="Password">
					<span asp-valldation-for="Password"></span>
				</div>

				<button>
					<span>Login</span>
				</button>
			</form>
			<img src="~/images/image-2.png" alt="" class="image-2" />
		</div>

	</div>

	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/main.js"></script>
</body>

