<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upcoming Exams</title>
	<style>



	</style>
</head>
<body>
	<div style="display:flex;flex-direction:row">
		<div style="display:flex;flex-direction:column;align-content:space-between">
			<h1 style="margin-right:300px">Your Upcoming Exams</h1>
			<br />
			@if (@ViewBag.exam.Count==0)
			{
				<br />
				<h1 class="alert alert-success" style="text-align:center">You Don't Have Any Upcomming Exams!</h1>
			}
			else
			{
				@foreach (var exam in ViewBag.exam)
				{
					<div class="exam alert alert-danger" style="width:500px;color:black">
						<h2>@exam.Cr.Cname</h2>
						<p>Date: @exam.ExamDate</p>
						<p>Start Time:@exam.StartTime</p>
					</div>
				}

			}
		</div><br />
		<div>
		<img src="~/images/Exam.svg"  width="400px" />
		</div>
	</div>
</body>
</html>
