body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 19%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b0d1b;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }



.main {
    margin-left: 280px;
    padding: 20px;
}

.logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 10px 0px;
}

    .logo i {
        font-size: 2.1rem;
        margin-right: 23px;
        margin-left: 10px;
    }

    .logo h1 {
        font-family: "Lemon", serif;
    }

#collapseExample {
    background-color: #171927;
}

    #collapseExample a:hover,
    a.sharedColor:hover {
        background-color: #6943ce;
        color:white;
    }

.setting {
    position: absolute;
    bottom: 8%;
    width: 100%;
}
