@{
    ViewData["Title"] = "ExamReport";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h1>View Report</h1>

<a href="http://DESKTOP-KKEBIIH/ReportServer/Pages/ReportViewer.aspx?%2fReport%2fStudntGrade">Student Grade</a>
<a href="http://DESKTOP-KKEBIIH/ReportServer/Pages/ReportViewer.aspx?%2fReport%2fGetExam">Get Exam</a>
<a href="http://DESKTOP-KKEBIIH/ReportServer/Pages/ReportViewer.aspx?%2fReport%2fTopicReport">Topic Report</a>

<iframe src="http://DESKTOP-KKEBIIH/ReportServer/Pages/ReportViewer.aspx?%2fReport%2fStudntGrade"></iframe>
 
