@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBProject</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&family=Lemon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mainLayoutCass.css" />
</head>

<body>
    <div class="sidenav">
        <div class="logo">
            <i class="fa-solid fa-graduation-cap"></i>
            <h1>Exam</h1>
        </div>
        <p class="sharedColor">
            <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
               aria-controls="collapseExample" class="sharedColor">
                <i class="fa-solid fa-user-tie"></i>&ensp;&ensp;&ensp; Admin DashBoard
            </a>
        </p>
        <div class="collapse text-center" id="collapseExample">
            <div>
                <a href="#">Teachers</a>
                <a href="#">Students</a>
               
                 <a  asp-area="" asp-controller="courses" asp-action="index">Courses</a>
              
              
            </div>
        </div>

        <a href="#services" class="sharedColor"><i class="fa fa-file" aria-hidden="true"></i>&ensp;&ensp;&ensp;Reports</a>
        <div class="setting">
            <div>
                <a href="#services"><i class="fa-solid fa-gear"></i>&ensp;&ensp;&ensp;Settings</a>
            </div>
            <div>
                <a href="#services"><i class="fa-solid fa-arrow-right-from-bracket"></i>&ensp;&ensp;&ensp;Log Out</a>
            </div>
        </div>
    </div>

    <div class="main">
        @RenderBody();
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>