@model List<Course>
@{
	ViewData["Title"] = "ShowTeacherCourses";
}

<h1>Your Courses</h1>
@foreach (var item in ViewBag.TeacherCourses)
{
	<div style="display:flex;flex-direction:row;justify-content:space-between;">
		<div style="width: 700px;height: 100px;background-color: #0b0d1b; color: white;border-radius: 20px; display: flex; flex-direction: row;margin-right:35px ;justify-content: space-between; margin: 10px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
			<div style="margin-left: 20px;display: flex;flex-direction: row; margin:25px;">
				<a class="btn btn-success" style="width:100px">@item.Cname</a>
			</div>
			<div style="margin:15px">
				<h6 >Course id</h6>
				<h1 style="color:#F8BDEB">@item.CrId</h1>
			</div>

		</div>

	</div>

}


